/3D Printed Rose.zip
/3D Printing for UAV (Some Good, Some Bad).zip
/Assa Abloy Manufacturing Engineer Resume (1).docx
/Assa Abloy.zip
/CAD
/ISR.pptx
/Kyle J Fairbanks Resume - Design Engineer.docx
/Kyle J Fairbanks Resume.pdf
/Preliminary Design Review.pptx
/Technical Data Package 1 [Merged].pdf
/Technical Data Package 2 (Intermediate).pdf
/UAV and Ultimaker 3.zip
/Updated Wing Code and Documentation (1).zip
/Wing FEA Code Validation and Documentation.zip
/_extracted